@import url("https://fonts.googleapis.com/css2?family=Lexend:wght@100..900&display=swap");

body {
  font-family: "Lexend", sans-serif;
}
.table .thead {
  color: rgb(135, 135, 135);
  font-size: 16px;
  font-weight: 500;
  line-height: 19px;
  letter-spacing: 0%;
  text-align: left;
}

@tailwind base;
@tailwind components;
@tailwind utilities;
